# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Environment variables file
.env

# Logs
*.log

# Dependency directories
lib/
lib64/

